body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;  
}

header {
  height: 200px;
  background-color: rgb(238, 195, 21);
  background-image: url('sponge.jpg');
  background-repeat: repeat-x;
  border-bottom: 14px solid rgb(202, 160, 4);
  padding-left: 50px;
  padding-right: 50px;
}

@media (min-width: 1279px) {

  header .main-container {
    width: 1180px;
    margin: 0 auto;
  }

  .main-container {
    width: 1180px;
    margin: 0 auto;
  }

  .left-column {
    width: 873px;
    float: left;
  }

  .right-column {
    margin-left: 36px;
    width: 271px;
    float: left;
  }

}

@media (max-width: 1279px) {

  header .main-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .left-column {
    width: 74%;
    float: left;
  }

  .right-column {
    margin-left: 3%;
    width: 23%;
    float:left;
  }

}

a {
  text-decoration: none;
  color: rgb(120, 120, 120);
}

.logo {
  margin-top: 42px;
  margin-left: -10px;
  height: 120px;
}

header a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  margin-right: 25px;
  border-bottom-color: rgba(0, 0, 0, 0);
}

header a:hover:not(.download) {
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 3px;
  padding-bottom: 1px;
  transition: border-bottom-color 0.3s;
}

a.download {
  border: 5px solid black;
  padding: 10px 14px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  margin-left: 5px;
  margin-right: 0;
}

a.download:hover {
  background-color: black;
  color: white;
}

.button {
  background-color: rgb(238, 195, 21);
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgb(220, 180, 19);;
  transition: background-color 0.2s;
}

.button:active {
  background-color: rgb(200, 164, 18);
}

.button.small {
  font-size: 1.1em;
  padding: 8px;
}

.button.block {
  display: block;
  margin-bottom: 10px;
}

.box {
  border: 5px solid rgb(238, 195, 21);
  padding: 10px;
  margin-bottom: 10px;
}

.post.tweet {
  color:darkgray;
  font-size:1em;
  font-weight:600;
  text-align:left;
  margin-bottom:10px;
  float:right;
}

.post.tweet:hover {
  color: rgb(72, 151, 173);
}
