body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif; 
  background-color: #0f0f0f;
  color: #ffffff;
}

header {
  height: 200px;
  background-color: rgb(238, 195, 21);
  background-image: url('sponge.jpg');
  background-repeat: repeat-x;
  padding-left: 50px;
  padding-right: 50px;
}

.footer {
  height: 140px;
  background-color: rgb(238, 195, 21);
  padding-left: 50px;
  padding-right: 50px;
  border-top: 14px solid rgb(202, 160, 4);
  margin-top: 80px;
  color: black;
}

@media (min-width: 1279px) {

  header .main-container {
    width: 1179px;
    margin: 0 auto;
  }

  .main-container {
    width: 1180px;
    margin: 0 auto;
  }

  .left-column {
    width: 873px;
    float: left;
  }

  .right-column {
    margin-left: 36px;
    width: 271px;
    float: left;
  }

}

@media (max-width: 1279px) {

  header .main-container {
    margin-left: 0px;
    margin-right: 0px;
  }

  .main-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .left-column {
    width: 74%;
    float: left;
  }

  .right-column {
    margin-left: 3%;
    width: 23%;
    float:left;
  }

}

a {
  text-decoration: none;
  color: rgb(120, 120, 120);
}

a:hover.link {
  color: rgb(72, 72, 72);
  transition: color 0.3s;
}

div#sticker {
  border-top: 14px solid rgb(202, 160, 4);
  border-bottom: 10px solid rgba(69, 148, 202, 0.73);
  width:100%;
  z-index: 10;
}
.stick {
  position:fixed;
  top:0px;
  border-top: 14px solid rgb(238, 195, 21)!important;
  transition: border-top 1s;
}
.stick-water {
  margin-top: 14px!important;
}

.logo {
  margin-top: 42px;
  margin-left: -10px;
  height: 120px;
}

header a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  margin-right: 25px;
  border-bottom-color: transparent;
}

header a:hover:not(.download):not(.header-logo) {
  border-bottom-style: solid;
  border-bottom-color: #000;
  border-bottom-width: 3px;
  padding-bottom: 1px;
  transition: border-bottom-color 0.3s;
}

a.download {
  border: 5px solid black;
  padding: 10px 14px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  margin-left: 5px;
  margin-right: 0;
}

a.download:hover {
  background-color: black;
  color: white;
}

a.download.tooltips {
  position: relative;
  display: inline;
}
a.download.tooltips span {
  position: absolute;
  width: 205px;
  color: #FFFFFF;
  background: #000000;
  height: auto;
  line-height: 31px;
  text-align: center;
  visibility: hidden;
  border-radius: 0px;
  font-weight:400;
  font-size:13px;
  line-height: 15px;
  opacity: 0;
  padding: 10px;
  text-align: justify;
  text-justify: auto;
  font-weight: 300;
  display: none;
  letter-spacing: -1px;
}
a.download.tooltips span:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a.download:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  top: 68px;
  left: 50%;
  margin-left: -113px;
  z-index: 999;
  transition: opacity 1s;
  display: block;
}

.button {
  background-color: rgb(238, 195, 21);
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 1.3em;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  background-color: rgb(220, 180, 19);;
  transition: background-color 0.2s;
}

.button:active {
  background-color: rgb(200, 164, 18);
}

.button.small {
  font-size: 1.1em;
  padding: 8px;
}

.button.block {
  display: block;
  margin-bottom: 10px;
}

.box {
  border: 5px solid rgb(238, 195, 21);
  padding: 10px;
  margin-bottom: 10px;
}

.post.tweet {
  font-size:1em;
  font-weight:600;
  text-align:left;
  margin-bottom:6px;
  float:right;
  color: rgb(5, 176, 243);
  padding: 2px 10px;
}

.post.tweet:hover {
  color: white;
  background-color: rgb(5, 176, 243);
}

.post.tweet:active {
  background-color: rgb(4, 129, 178);
}